.nav {
    background-color: white;
    border: 1px solid black;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    margin-right: 5vh;
    min-height: 20vh; /* Altera para min-height */
    margin-left: 5vh;
    position: relative; 
}

.texto { 
    margin-left: 10vh;
    line-height: 1.5; /* Ajustado para melhor legibilidade */
    flex: 1; /* Use flex: 1 para ocupar o espaço disponível */
}

.cpsImg, .spImg {
    align-self: center; 
    margin: 0 5vh 0 auto; /* Simplificado */
}

.cursos {
    text-align: center;
    background-color: silver;
    border: 1px solid black;
    margin-top: 0; 
    margin-left: 5vh; 
    margin-right: 5vh;
}

th {
    background-color: silver;
    border: 1px solid black;
    padding: 10px; /* Adicionado padding */
}

.gridCurso {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto; 
    gap: 10px; 
    border: 1px solid black; /* Corrigido */
}

.gridCursos1,.gridCursos2,.gridCursos3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 5vh;
    margin-right: 5vh;
}

.Adm, .AdmMtec, .Cont, .Ads,.AdsMtec,.Log,.LogMtec,.Rh,.Juri,.Vazio {
    text-align: center;
    border: 1px solid black;
    padding: 10px; /* Adicionado padding */
}
